body {}
.col-lg-5,.col-lg-4,.col-lg-3 { padding:0px 4px; }

body { margin:16px 18px; }
#header { margin:0 auto; width:100%; }
#header a { color:#555; }
#header ul { border:none;}


#mainer { margin:0 auto; width:100%;}

#signin { width:380px; margin:12% auto 12%; border:2px solid #EEE; border-radius:12px; padding:22px 32px 28px; }
#register { width:480px; margin:12% auto 12%; border:2px solid #EEE; border-radius:12px; padding:12px 52px 28px; }
#register .form-group { margin:0 0 8px; }
#register .col-xs-3 { padding-left:0; padding-right:0px; }

#search_pusl { line-height:50px; }

#notify {}
#notify .panel-body { height:286px; }

#note .panel-body,#task .panel-body { padding:8px 14px 8px 12px; overflow:scroll; height:336px; max-height:336px; }
#note .panel-body li { line-height:22px; padding-left:6px; }
#note .panel-body li:first-child { border-top:none; }
#task .panel-body li:first-child { border-top:none; }
#task .list-group-item {  }
#task .list-group-item { padding:7px 0  7px 2px; border:none; border-top:1px solid #DDD; border-bottom:1px solid #DDD; border-radius: 0px !important; line-height:16px; white-space:nowrap; overflow:hidden; text-overflow:hidden; }
#task .cbox { margin-right:4px; }

#calendar { width:100%; margin:0 19px; }
#calendar .panel-body { height:222px; }


#footer { margin:0 auto; width:100%; }